body{
    background: url(voiture\ pour\ acceuil.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.menu{
    text-align: center;
}
a{
    margin: 30px;
    font-size: 22px;
    color: red;
}