body{
    background: url(voiture\ pour\ acceuil.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.menu{
    text-align: center;
}
a{
    margin: 50px;
    font-size: 22px;
    color: red;
}
h1{
    color: blue;
    margin-left: 25%;
    font-weight: bolder;
    margin-top: -10%;

}
p{
    color: white;
    margin-top: 10%;
    margin-left: 25%;
}
.textesurimage{
    margin-top: 25%;
    margin-left: 5%;
}
.image2 img{
    width: 5%;
    border-radius: 30px;
   
}
